html {
    font-family: 'Noto Serif';
}

html {
    background-color: rgb(232, 232, 232);
}

body{
    margin: 0;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/*HEADER*/

header{
    padding: 8px;
    display: flex;
    font-family: 'Open Sans';
    align-items: center;
    justify-content: center;
}

header #logo {
    flex: 2;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 28, 28);
    white-space: nowrap;
    order:1;
}

header #logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

header #logo span {
    font-style: italic;
    color: rgb(155, 23, 0);
}

header nav {
    flex: 7;
    text-align: center;
    order:2;
}

header nav ul {
    list-style: none;
    text-align: center;
    display: inline-flex;
}

header nav li {
    margin: 0 15px;
}

header nav li a {
    text-decoration: none;
    color: rgb(28, 28, 28);
    text-transform: uppercase;
    font-weight: bold;
}

header nav li a:hover{
    color: rgb(28, 28, 28, 0.5);
}

header #inicioSesion {
    flex: 1;
    order:3;
}

header #inicioSesion a {
    color: rgb(255, 255, 255);
    background-color: rgb(155, 23, 0);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
}

@media (max-width: 650px){
    header {
        display: block;
        text-align: center;
    }

    header #inicioSesion {
        text-align: center;
        margin: 15px 0;
    }

    header nav ul {
        display: block;
        padding: 0;
        margin: 15px 0;
    }
}

/*FOOTER*/
footer {
    padding: 40px 8px 8px 8px;
    background-color: rgb(67, 58, 68);
    color: rgb(255, 255, 255);
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer a:hover{
    color: rgb(155, 23, 0);
}

footer #enlaces {
    display: flex;
}

footer #enlaces div {
    flex: 1;
}

footer ul {
    display: inline-flex;
    margin-left: 0;
    padding-left: 0;
}

footer ul li {
    margin: 0 15px;
}

footer ul li:first-child {
    list-style: none;
    margin-left: 0;
}

footer #info p {
    font-size: 0.8em;
    line-height: 0.8;
}

footer #toTop {
    font-size: 2em;
    margin: 0;
}

@media (max-width: 650px){
    footer #enlaces {
        display: block;
        text-align: center;
    }

    footer #enlaces div {
        margin: 40px 0;
    }

    footer #info {
        text-align: center;
    }

    footer ul li:first-child {
        margin-left: 15px;
    }

    footer ul {
        display: block;
        list-style: none;
        text-align: center;
    }

}

/*INDEX*/
section {
    margin: 100px 0;
}

#index article {
    text-align: center;
    margin: 0 10%;
}

#index article > p{
    margin: 0 15%;
}

figure img {
    width: 80%;
}

.flex {
    display: flex;
}

#registroClub div{
    flex: 1;
}

#registroClub a {
    text-decoration: none;
    color: rgb(155, 23, 0);
}

#registroClub a:hover {
    color: rgb(28, 28, 28);
}

#registroClub div > p {
    font-size: 1.5em;
}


#registroClub ul {
    list-style: none;
    padding: 0;
}

#registroClub li {
    margin-bottom: 15px;
}

#registroClub form p,
#registroClub form label{
    font-size: 0.7em;
}

#registroClub input[type="text"], 
#registroClub input[type="email"], 
#registroClub input[type="password"] {
    width: 95%;
    height: 20px;
    padding: 10px;
}

#registroClub input[type="submit"] {
    background-color: rgb(155, 23, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#registroClub input[type="submit"]:hover {
    background-color: rgb(28, 28, 28);
}

@media (max-width: 650px){
    .flex {
        display: block;
    }

    #index article {
        margin: 0 5%;
    }
}